nav#main-nav img {
  width: 20%;
  transform: translate(50%, 20%);
}

nav {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden !important;
}

.btn-nav {
  color: rgb(154, 104, 242);
}

nav ul a:hover {
  background-color: transparent;
}

nav ul a {
  text-transform: uppercase;
  font-weight: bold;
}

.sidenav-trigger i {
  color: #1c2331;
}

@media only screen and (max-width: 768px) {
  nav .brand-logo {
    transform: translateX(50%) !important;
  }
}
